@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500;9..144,700&display=swap');



$c-primary: hsl(158, 36%, 37%);
$c-primary-var: hsl(30, 38%, 92%);

$c-neutral: hsl(212, 21%, 14%);
$c-neutral-var-01: hsl(228, 12%, 48%);
$c-neutral-var-02: hsl(0, 0%, 100%);

// Resets ===============================================
body {
    background-color: $c-primary-var;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}


// Main ===============================================

.test-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width: 550px;

    border-radius: 15px;
    overflow: hidden;

    .card__box {
        background-color: $c-neutral-var-02;

        flex: 1;

        .card__box__container {
            padding: 2rem;
        }
    }

    .card__img {
        width: 100%;
        height: 100%;
    }

    .card__product-type {
        color: $c-neutral-var-01;
        text-transform: uppercase;

        letter-spacing: .2rem;

        margin-bottom: 1rem;

        font-size: .7rem;
        font-weight: 500;
    }

    .card__product-name {

        line-height: 1.9rem;

        margin-bottom: 1rem;

        font-size: 2rem;
        font-family: "Montserrat";
        font-weight: 700;
    }

    .card__product-disc {
        color: $c-neutral-var-01;

        line-height: 1.25rem;

        margin-bottom: 1.5rem;

        
    }

    .card__price-container {
        display: flex;
        align-self: center;

        margin-bottom: 1.5rem;

    }

    .card__price {
        color: $c-primary;

        margin-right: .8rem;

        font-size: 2rem;
        font-family: "Fraunces";
        font-weight: 700;

    }

    .card__pre-price {
        color: $c-neutral-var-01;

        text-decoration: line-through;

        display: flex;
        align-items: center;

    }

    .card__btn {
        cursor: pointer;
        border: none;
        border-radius: 8px;

        background-color: $c-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: .8rem;

        .card__btn__icon {
            margin-right: .7rem;
        }

        .card__btn__txt {
            color: $c-neutral-var-02;
        }
    }

    .card__btn:active {
        background-color: darken($c-primary, $amount: 10%);
    }
}


@media screen and (max-width: 570px){

    .card {
        flex-direction: column;
        
        width: 90%;

        .card__img {
          content: url("../images/image-product-mobile.jpg");
        }
    
    }
}